
$theme-pagebg: #fffefc;
$theme-sidebar: #435257;
$theme-sidebar-alt: #6e96a3;
$theme-dark: #43464c;

$clr-white: #ffffff;
$clr-black: #000000;

$clr-bg: $theme-pagebg;
$clr-txt: $theme-dark;

$clr-link: #cc510b;
$clr-link-hover: lighten($clr-link, 20%);

$clr-sidebar-bg: $theme-sidebar;
$clr-sidebar-title: $theme-sidebar-alt;
$clr-sidebar-txt: $theme-pagebg;
