
$theme-pagebg: #fffcf9;
$theme-sidebar: #435257; // #8ba9b2; //#dfdedd;
$theme-dark: #43464c; // #23262c;

$clr-white: #ffffff;
$clr-black: #000000;


$clr-bg: $theme-pagebg;
$clr-txt: $theme-dark;

$clr-sidebar-bg: $theme-sidebar;
$clr-sidebar-title: #6e96a3;
$clr-sidebar-txt: $theme-pagebg;
