.page {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 100%;

    .content {
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }

    .navigation {
        // expand for content... look at padding-right on .navigation a
        overflow-y: auto;
    }
}
