$modular-scale-base: 14px;


$font-heading: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$font-body: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: modular-scale(3);
}
h2 {
    font-size: modular-scale(1.5);
}
h3 {
    font-size: modular-scale(1);
    font-style: italic;
}


strong {
    font-weight: bold;
}

body {
    font-family: $font-body;
    font-size: modular-scale(1);
    line-height: 1.414em;
    text-rendering: optimizeLegibility;
}

.navigation {
    font-size: 0.75em;
}
