
<div class="chapter">
    <a href="/chapter/00/">Front Matter</a>
    <a href="/chapter/00/author">About the Author</a>
    <a href="/chapter/00/prerequisites">Prerequisites</a>
    <a href="/chapter/00/feedback">Reader Feedback and Support</a>
</div>

<div class="chapter">
    <a href="/chapter/01/">01. Introduction</a>
</div>

<div class="chapter">
    <a href="/chapter/02/">02. Technology Overview</a>
    <a href="/chapter/02/TheWeb.md">The Web</a>
    <a href="/chapter/02/HTML.md">HTML</a>
    <a href="/chapter/02/CSS.md">CSS</a>
    <a href="/chapter/02/JavaScript.md">JavaScript</a>
    <a href="/chapter/02/SVG.md">SVG</a>
</div>

<div class="chapter">
    <a href="/chapter/03/">03. Development Environment</a>
    <a href="/chapter/03/StarterKit.md">Starter Kit</a>
    <a href="/chapter/03/HelloWorld.md">Hello World</a>
</div>

<div class="chapter">
    <a href="/chapter/04">04. D3.js Basics</a>
    <a href="/chapter/04/DDD.md">Data Driven Documents</a>
    <a href="/chapter/04/Modules.md">ES6 Modules</a>
</div>


<!-- Topics -->
<!--
Part I - Introduction
The first four chapters will introduce the reader to the basic technologies involved with creating a map with D3.js, get their development environment up and running, and create a hello world style map with D3.js.

* Technology Overview
    * HTML
    * SVG
    * CSS
    * JavaScript
* Development Environment
    * Tools
    * Setup
* D3.js Basics
    * d3.select, enter, append
    * bl.ocks.org, blocksplorer
* Basic Map
    * Ohio Map w/ Label and CSS Effects


Part II - Theory
* Introduction to Cartography
    * Must have items: Legend, source attribution
* Map Projections
* Design
    * Visual Hierarchy, Visual Weight
    * Contrast, Line Weight
* Colors
    * colorbrewer
    * d3 scales
* Labels
    * Typography, Fonts


Part III - Application
* Thematic Maps
    * Choropleth
    * Proportional Symbol
    * Dot Density
    * Hex Bin
    * Cartogram
    * Flow
* Reference Maps
    * Dot
    * Pins w/ HTML Tooltips
    * Tracks
        * streams, roads, railroads


Appendix/Miscellany
* DIKW Pyramid
* Data Visualization Topics...
* Data Tools
    * QGIS, ogr2ogr, gdal, mapshaper, topojson
* Data Sources
    * data.gov
-->
<!--
We’ll cover (not necessarily in this order):
* Technology
    * HTML, CSS, SVG, JavaScript, ES6, Chrome Developer Tools
    * D3.js version 4.x
    * Rendering maps on the client and the server (via node.js)
* Map Types
    * Thematic (choropleth, proportional symbol, hexbin, dot density, etc…)
    * Reference (markers, lines, polygons)
* Cartography
    * Projections, legends, graticules
* Design Principles
    * Color choices, visual weight & hierarchy
    * Data Visualization best practices
* Data Handling
    * Open data sets
    * Loading, parsing, cleaning data
    * Formats such as geojson and topojson
-->
