
.navigation {
    background: $clr-bg-alt;
    font-family: $font-heading;
    margin: 0;
    padding: 1.0em;

    ul {
        list-style: none;
        padding-left: 0.5em;
    }

}

.navigation__title {
    font-weight: bold;
}
